{% extends 'thinkNote/base.html' %}
<!DOCTYPE html>

{% block title_block %}
    Note Title
{% endblock %}

{% block header_block %}
    <h1>Note Title</h1>
{% endblock %}

{% block body_block %}
    <div>
        {% if noteContent %}
            Here is the note content.
        {% else %}
            There are no note content present.
        {% endif %}

        <p>Botton-Download function</p>
    </div>
    <div>
        <!--if the user is the owner of the note, a delete bottom is shown-->
    </div>
    <br>
    <div>
        <h2>Notes extended from {{ noteName}}</h2>
        {% if categories %}
            <ul>
                {% for category in categories %}<!--here shows the extended notes-->
                    <li><a href = "/rango/category/{{category.slug}}">{{category.name}}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            There are no extended notes yet.
        {% endif %}
    </div>
    <br>
    <div>
        {% if user.is_authenticated %}
            <a href = "{% url 'thinkNote:upload' %}">botton-Upload a extended note</a>
        {% else %}
            Login to upload extended notes.
        {% endif%}
    </div>
{% endblock %}

