body{
    background-color: #d0dfe6;
    margin: 0; /* Removes default margin */
    padding: 0; /* Removes default padding */
}

h1 {
    text-align: center; /* Centers the text horizontally within its container */
    margin: auto;
    font-family: serif;
    color: black;
    padding-top: 50px;
    padding-bottom: 20px;
}

h2 {
    font-size: 20px;
}

ul {
    color: #2e317c; /* Dark blue color for the list container */
}

ul li{
    color:#2e317c; /* Purple color for list items */
}

ul li a{
    color:#2e317c;
}

a{
    text-decoration:none;
}


#toolBar {
    background-color: #c3d7df;
    display: flex;
    justify-content: space-between; /* Distribute space between items */
    align-items: center; /* Align items vertically in the center */
    padding: 10px; /* Add some padding */
    width: 100%; /* Ensure the toolbar spans the full width */
    margin: 0; /* Remove any external margin */
    box-sizing: border-box; /* Ensure padding is included in the width */
    position: sticky; /* Make the toolbar sticky */
    top: 0; /* Stick to the top of the viewport */
    z-index: 1000; /* Ensure the toolbar is above other content */
}

#tNicon{
    font-size: 28px;
}

#tNicon strong{
    color: #9388bb;
}

#tNicon em{
    color: #6e8b74;
}

.useLoginfo{
    font-size: 18px;
    color: #FBCA04;
    text-shadow: 1px -1px 0 #caac2a;
        
}

.useLoginfo a{
    color: #FBCA04;
}

.footer {
    background-color: #c3d7df; /* Same background color as the toolbar */
    display: flex;
    /*align-items: center; /* Align items vertically in the center */
    padding: 10px; /* Add some padding */
    width: 100%; /* Ensure the footer spans the full width */
    margin: 0; /* Remove any external margin */
    box-sizing: border-box; /* Ensure padding is included in the width */
    position: fixed; /* Fix the footer to the bottom of the viewport */
    bottom: 0; /* Stick to the bottom */
    left: 0; /* Ensure it starts from the left edge */
    z-index: 1000; /* Ensure the footer is above other content */
    text-align: center;
    color: #2e317c;
}
.footer a{
    color: #638269;
}