:root {
    --background-blue: #c3d7df;
    --background-lightblue: #c4d7d6;
    --footer-green: #58725d;
    --gray-green: #485b4d;
    --link-yellow: #f0c105;
    --pur-blue-black: #2e317c;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #d0dfe6;
    margin: 0;
    padding: 0;
}

h1 {
    color: black;
    font-family: serif;
    margin: auto;
    padding-bottom: 50px;
    padding-top: 70px;
    text-align: center;
}

h2 {
    color: var(--gray-green);
    font-size: 20px;
    padding-bottom: 10px;
}

ul {
    color: var(--pur-blue-black);
}

a{
    color: inherit;
    text-decoration: none;
}

#toolBar {
    align-items: center;
    background-color: var(--background-blue);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.tNicon{
    font-size: 28px;
}

.tNicon strong{
    color: #9388bb;
}

.tNicon em{
    color: #6e8b74;
}

.userLoginInfo{
    color: var(--link-yellow);
    font-size: 18px;
    text-shadow: 1px -1px 0 #bda227;
}

.userLoginInfo a{
    color: var(--link-yellow);
}

.footer {
    background-color: var(--background-blue);
    bottom: 0;
    color: var(--pur-blue-black);
    display: flex;
    left: 0;
    padding: 10px;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.footer ul{
    color: var(--footer-green);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    padding-left: 40px;
}

.footer a{
    color: var(--footer-green);
}