:root {
    --pur-blue-black: #2e317c;
    --gray-green: #485b4d;
    --background-blue: #c3d7df;
    --background-lightblue: #c4d7d6;
    --link-yellow: #FBCA04;
    --footer-green: #638269;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #d0dfe6;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin: auto;
    font-family: serif;
    color: black;
    padding-top: 50px;
    padding-bottom: 20px;
}

h2 {
    font-size: 20px;
}

ul {
    color: var(--pur-blue-black);
}

a{
    color: inherit;
    text-decoration:none;
}

#toolBar {
    background-color: var(--background-blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.tNicon{
    font-size: 28px;
}
.tNicon strong{
    color: #9388bb;
}
.tNicon em{
    color: #6e8b74;
}

.userLoginInfo{
    font-size: 18px;
    color: var(--link-yellow);
    text-shadow: 1px -1px 0 #caac2a;
}
.userLoginInfo a{
    color: var(--link-yellow);
}

.footer {
    background-color: var(--background-blue);
    display: flex;
    padding: 10px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
    color: var(--pur-blue-black);
}
.footer ul{
    padding-left: 30px;
    color: var(--footer-green);
}
.footer a{
    color: var(--footer-green);
}