#slogan {
    font-size: 18px;
    font-family: Georgia, serif;
    text-align: center;
    margin: auto;
}

.sideBar {
    width: 250px;
    background-color: var(--background-lightblue);
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    height: 100vh;
    position: fixed;
    right: 0;
    top: 100px;
    height: calc(100vh - 200px);
    overflow-y: auto;
    z-index: 500;
    color: var(--gray-green);
}
.sideBar ul {
    padding-left: 10px;
}
.sideBar ul li {
    margin: 10px 0;
}

.listTitle {
    color: var(--gray-green);
    padding-bottom: 0;
}

.mainContent {
    padding-left: 20px;
    font-size: 20px;
    padding-bottom: 60px;
}

.indexContent {
    text-align: center;
    width:calc(100vw - 320px);
    max-width: 2000px;
    padding: 10px;
}
.indexContent pre {
    text-align:left;
    max-width: 100%;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-x: auto;
    padding: 10px;
}

.funcNeedLogin a{
    padding-left: 20px;
    font-size: 20px;
    color: #134857;
    font-weight: bold;
}

#notesContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
#notesContent h2{
    color: var(--gray-green);
    font-size: 24px;
}
#notesContent ul {
    padding: 0;
    margin: 0;
    text-align: left;
    font-size: 20px;
}

#noteEditUpload {
    height:130px;
    width: 200px;
    top: 600px;
}
#noteEditUpload ul{
    list-style-type: none;
    padding-left: 0;
}

.noteText {
    display:flex;
    flex-direction: column;
    width:80%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border: 2px solid #648e93;
    padding-bottom: 30px;
    margin-bottom: 200px;
}