#slogan {
    color: black;
    font-family: Georgia, serif;
    font-size: 18px;
    margin: auto;
    text-align: center;
}

.sideBar {
    background-color: var(--background-lightblue);
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    color: var(--gray-green);
    height: 100vh;
    height: calc(100vh - 200px);
    overflow-y: auto;
    padding: 20px;
    position: fixed;
    right: 0;
    top: 100px;
    width: 250px;
    z-index: 500;
}

.sideBar ul {
    padding-left: 10px;
}

.sideBar ul li {
    margin: 10px 0;
}

#indexContent {
    margin-top: 50px;
    max-width: 2000px;
    width: calc(100vw - 320px);
}

#uploadNeedLogin a {
    color: #134857;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    margin-top: 40px;
    padding-left: 20px;
}

.pageContent {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pageContent h2 {
    font-size: 24px;
}

.pageContent ul {
    font-size: 20px;
    text-align: left;
}

.pageContent ul li {
    margin: 10px 0; 
}

#noteEditUpload {
    height: 180px;
    top: 600px;
    width: 200px;
}

#noteEditUpload.sideBar ul {
    color: var(--pur-blue-black);
    list-style-type: none;
    padding-left: 0;
}

.noteText {
    border: 2px solid #648e93;
    display: flex;
    flex-direction: column;
    margin-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    padding-bottom: 30px;
    width: 80%;
}

#username {
    color: var(--icon-green);
}

#username strong {
    color: var(--icon-purple);
    font-family: Georgia, serif;
    font-size: 34px;
}