{% extends 'rango/tNbase.html' %}
<!DOCTYPE html>

{% block title_block %}
    Course Name
{% endblock %}

{% block header_block %}
    <h1>Courses</h1>
{% endblock %}

{% block body_block %}
    <div class="pageContent">
        <div>
            <h2>Explore Different Courses!</h2>
            {% if courses %}
                <ul>
                    {% for course in courses %}
                        <li><a href = "{% url 'rango:tNnotes' course.CourseID %}">{{course.CourseName}}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <strong>There are no Courses available.</strong>
            {% endif %}
        </div>
        
        <div id="uploadNeedLogin">
            {% if user.is_authenticated %}
                <a href = "{% url 'rango:tNupload' %}">Upload a note</a>
            {% else %}
                <a href = "{% url 'rango:tNlogin' %}">Want to upload your notes? Click here to login!</a>
            {% endif%}
        </div>
    </div>
    
{% endblock %}

