{% extends 'rango/tNbase.html' %}
<!DOCTYPE html>

{% block title_block %}
    Homepage
{% endblock %}

{% block header_block %}
    <h1 class="tNicon">Unlock Knowledge Through <strong>Think</strong><em>Note</em></h1>    
{% endblock %}

{% block body_block %}
    <h2 id="slogan">Connecting Minds, Sharing Notes.</h2>
    
    <div id="indexContent" class="pageContent">
        <h2>Most Popular Notes:</h2>
        {% if top_notes %}
            <ul>
                {% for note in top_notes %}
                    <li>
                        <a href="{% url 'rango:tNnote' note.NoteID %}">
                            {{ note.Topics }} ({{ note.CourseID.CourseID }}) - {{ note.views }} views
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>There are no notes present.</p> 
        {% endif %}
    </div>
    
    <div class="sideBar">
        <h2>List of courses</h2>
        {% if courses %}
            <ul>
                {% for course in courses %}<!--here shows the notes-->
                    <li><a href = "{% url 'rango:tNnotes' course.CourseID %}">{{course.CourseName}}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no notes present.</strong>
        {% endif %}
    </div>
{% endblock %}

