{% extends 'rango/tNbase.html' %}
<!DOCTYPE html>

{% block title_block %}
    Homepage
{% endblock %}

{% block header_block %}
    <h1 class="tNicon">Unlock Knowledge Through <strong>Think</strong><em>Note</em></h1>    
{% endblock %}

{% block body_block %}
    <h2 id="slogan">Connecting Minds, Sharing Notes.</h2>
    <br>
    <div class="sideBar">
        <h2>Recommended notes:</h2>
        <p>There are no notes present.</p> 
        
        <h4>Text File Content for test</h4>
        {% if file_content%}
            <pre>{{ file_content }}</pre>
        {% endif %}
    </div>
    <br>
    <div class="sideBar">
        <h2>List of courses</h2>
        {% if courses %}
            <ul>
                {% for course in courses %}<!--here shows the notes-->
                    <li><a href = "{% url 'rango:tNnotes' course.CourseID %}">{{course.CourseName}}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no notes present.</strong>
        {% endif %}
    </div>
   
    <br>
{% endblock %}

