{% extends 'rango/tNbase.html' %}
<!DOCTYPE html>

{% block title_block %}
    User Login
{% endblock %}

{% block header_block %}
    <h1 id="tNicon">Login to <strong>Think</strong><em>Note</em></h1>    
{% endblock %}

{% block body_block %}
    
    <div id="uploadFunc">
        
        <form id="login_form" method="post" action="{% url 'rango:tNlogin' %}">
        {% csrf_token %}
            <div class="form-group">
                <label for="id_username">Username:</label>
                <input type="text" id="id_username" name="username" size="50" />
            </div>
            <div class="form-group">
                <label for="id_password">Password:</label>
                <input type="password" id="id_password" name="password" size="50" />
            </div>
            
            <div class="button">
                <input type="submit" value="Submit" />
            </div>
            
        {% if error_message %}
            <div style="
                background-color: #ffdada;
                color: #9c1c1c;
                border: 1px solid #e6bcbc;
                padding: 10px 20px;
                border-radius: 6px;
                margin-bottom: 20px;
                font-weight: bold;
                text-align: center;
            ">
                {{ error_message }}
            </div>
        {% endif %}
        </form>
    </div>

{% endblock %}
