{% extends 'rango/tNbase.html' %}
<!DOCTYPE html>

{% block title_block %}
    {% if course_notes %}
    {{ course_notes.0.CourseID }}
    {% else %}
    <h1>Notes</h1>
    {% endif %}
{% endblock %}

{% block header_block %}
    {% if course_notes %}
    <h1>{{ course_notes.0.CourseID }}</h1>
    {% else %}
    <h1>Notes</h1>
    {% endif %}
{% endblock %}

{% block body_block %}

    <div class="pageContent">
        {% if course_notes %}
            <ul>
                {% for note in course_notes %}
                    <li><a href = "{% url 'rango:tNnote' note.NoteID %}">{{note.Topics}}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            No notes from this course
        {% endif %}

        <div id="uploadNeedLogin">
            {% if user.is_authenticated %}
                <a href = "{% url 'rango:tNupload' %}">Upload a note</a>
            {% else %}
                <a href = "{% url 'rango:tNlogin' %}">Want to upload your notes? Click here to login!</a>
            {% endif%}
        </div>
    </div>

    

{% endblock %}

