{% extends 'rango/tNbase.html' %}
<!DOCTYPE html>

{% block title_block %}
    {% if course_notes %}
    {{ course_notes.0.CourseID }}
    {% else %}
    <h1>Notes</h1>
    {% endif %}
{% endblock %}

{% block header_block %}
    {% if course_notes %}
    <h1>{{ course_notes.0.CourseID }}</h1>
    {% else %}
    <h1>Notes</h1>
    {% endif %}
{% endblock %}

{% block body_block %}

    <div class="pageContent">
        {% if course_notes %}
            <ul>
                {% for note in course_notes %}
                    <li><a href = "{% url 'rango:tNnote' note.NoteID %}">{{note.Topics}}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            No notes from this course
        {% endif %}
    </div>

{% endblock %}

