{% extends 'rango/tNbase.html' %}
<!DOCTYPE html>

{% block title_block %}
    {% if searchTitle %}
        {{ searchTitle }}
    {% else %}
        Search
    {% endif %}
{% endblock %}

{% block header_block %}
    {% if searchTitle %}
        <h1>{{ searchTitle }}</h1>
    {% else %}
        <h1>Search Title not found</h1>
    {% endif %}
{% endblock %}

{% block body_block %}
      
    <div class="pageContent">

        {% if searchResults%}
            <h2>Maybe you want to find: </h2>
            <br>
            <ul>
                {% for searchResult in searchResults %}
                    <li></li><!--here links to different notes-->
                {% endfor %}
            </ul>
        {% else %}
            <p><strong>No results found.</strong></p>
        {% endif %}       
    </div>
    
{% endblock %}

