{% extends 'rango/tNbase.html' %}

{% block title_block %}
    {% if searchTitle %}
        {{ searchTitle }}
    {% else %}
        Search
    {% endif %}
{% endblock %}

{% block header_block %}
    {% if searchTitle %}
        <h1>{{ searchTitle }}</h1>
    {% else %}
        <h1>Search Title not found</h1>
    {% endif %}
{% endblock %}

{% block body_block %}

   <div class="search-wrapper">
    <form class="search-bar" method="get" action="{% url 'rango:tNsearch' %}">
      <input type="text" name="q" placeholder="search notes..." class="search-input" value="{{ query }}">
      <button type="submit" class="search-btn">🔍</button>
    </form>
  </div>

  <div id="notesContent">
    {% if searchResults %}
        <h2>you might looking：</h2>
        <ul>
          {% for searchResult in searchResults %}
            <li>
              <a href="{% url 'rango:tNnote' searchResult.NoteID %}">
                {{ searchResult.Topics }}
              </a>
            </li>
          {% endfor %}
        </ul>
    {% else %}
        <p><strong>no found</strong></p>
    {% endif %}
  </div>

{% endblock %}

