{% extends 'rango/tNbase.html' %}
<!DOCTYPE html>

{% block title_block %}
    Upload
{% endblock %}

{% block header_block %}
    <h1>Upload</h1>
{% endblock %}

{% block body_block %}
      
    <div>
        <!--
        If the upload page is from the course page, then fills in the corresponding course
        if from the user profile, then leave for user to enter.
        -->
        <p>Note's info</p>
    </div>
    <br>
    <div>
        <!--
        File uploading function
        -->
        <P>Upload here</P>
    </div>
{% endblock %}

