{% extends 'rango/tNbase.html' %}
<!DOCTYPE html>

{% block header_block %}
    <h1>My Profile</h1>
{% endblock %}

{% block body_block %}
      
    <div>
        <h2>My Notes</h2>
        {% if notes %}
            <ul>
                {% for note in notes %}<!--Here shows the notes-->
                    <li><a href = "{% url 'rango:tNnote' note.NoteID %}">{{note.Topics}}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            You have not upload any notes yet.
        {% endif %}
        <h2>My Edits</h2>
        {% if edits %}
            <ul>
                {% for edit in edits %}
                    
                {% endfor %}
            </ul>
        {% else %}
            No Notes has been edited
        {% endif %}
    </div>
{% endblock %}

